要求在项目开发完毕后提交一份项目说明文档

最终呈现的说明文档至少应当包含下述内容:

需求分析。要求罗列用户故事，绘制适当的图表（如用例图、泳道图等）说明项目工作流程

模块与 API 文档。写明项目开发中设计的各个模块及其用途，写明前后端之间所有 API 的文
档和交互格式，必要时使用如流程图、序列图、状态机等图表说明。要求达到后续维护与开
发人员可以直接通过该文档了解该项目设计和开发基本状况的程度

数据库设计文档。要求列出数据库设计中所有的表和表间关系
